<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="FireFoxTest" parallel="methods">
		<classes>
			<class name="com.stepdefinitions.Hooks" />
		</classes>

	</test>
	
	<test name="Demo">
		<classes>
			<class name="com.testngDemo.Demo" />
			<class name="com.testngDemo.Try" />
		</classes>
	</test>
</suite> <!-- Suite -->
